/* body */
body{
  padding-top: 100px;
  color: #8e8e8e;
}

a {
  color: #c9a305;
}

a:hover {
  color: #c9a305;
}

.dropdown ul {
  background-color: #a3bbc2 !important;
}

.dropdown ul li a {
  line-height: normal;
}

.dropdown ul li a:hover {
  background-color: #79888c !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #00356b !important;
  border-color: #043054 !important;
}

.btn-primary:hover {
  background-color: #043054 !important;
  border-color: #00356b !important;
}

.text-primary {
  color: #c9a305;
}

/* navbar */
nav.navbar-default {
  height: 80px;
  background-color: #a3bbc2;
  border-bottom: 0;
}
nav.navbar-default .navbar-brand {
  margin-left: 10px;
  height: auto;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #79888c;
}

nav.navbar-default .navbar-brand * {
  display: inline-block;
}

nav.navbar-default .navbar-brand>.navbar-brand-text {
  margin-left: 10px;
}

nav.navbar-default .navbar-collapse {
  background-color: #a3bbc2;
  border: none;
}

nav.navbar-default .navbar-collapse .navbar-nav > li {
  height: 80px;
  line-height: 80px;
}

nav.navbar-default .navbar-collapse .navbar-nav > li > a {
  height: 80px;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

nav.navbar-default .navbar-collapse .navbar-nav > li > a:hover,
nav.navbar-default .navbar-collapse .navbar-nav > li > a:focus {
    background-color: #79888c;
}

@media (max-width: 768px) {
  nav.navbar-default .navbar-brand>.navbar-brand-text {
    display: none;
  }

  nav.navbar-default .navbar-collapse .navbar-nav .dropdown .dropdown-menu {
    left: 100px;
    right: 0;
  }

  nav.navbar-default .navbar-collapse .navbar-nav .dropdown .dropdown-menu li {
    background-color: #79888c;
  }
}

/* common element */
p, .control-label {
  font-size: 18px;
  font-weight: 300;
  margin-top: 1em;
}
.redtape{
  font-size: 14px;
}

/* Responsive button fixes for analytics */
@media (max-width: 1200px) {
  .mainform #optin .btn {
    display: block;
    clear: both;
    border-radius: 4px;
    width: 200px;
  }

  .mainform #optin .btn:nth-child(n+2) {
    margin-top: 10px;
  }
}

.extra-fc-group>.btn.extra-fc-btn {
  display: block;
  clear: both;
  border-radius: 4px !important;
  width: 500px;
}

.extra-fc-group>.btn.extra-fc-btn:nth-child(n+2) {
  margin-top: 10px;
}

/* idcard control */
@media (min-width: 768px) {
  .form-inline .form-control.idcard-letters {
    width: 63px;
  }
}
@media (min-width: 992px) {
  .form-inline .form-control.idcard-letters {
    width: 82px;
  }
}
@media (min-width: 1200px) {
  .form-inline .form-control.idcard-letters {
    width: 98px;
  }
}
.form-inline .form-control.idcard-letters {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.form-inline .form-control.idcard-digits, .form-inline .form-control.idcard-letters, #idcard-checksum {
  text-align: center;
  letter-spacing: 2px;
  font-family: monospace;
  text-transform: uppercase;
}
.form-inline .form-control.idcard-digits {
  border-radius: 0px;
}

.step-container .step h3 {
  color: #7a888b;
}

/* step control */
.step-container .step {
  display: none;
}
.step-container.step-current-1 .step-1,
.step-container.step-current-2 .step-2,
.step-container.step-current-3 .step-3,
.step-container.step-current-4 .step-4,
.step-container.step-current-5 .step-5,
.step-container.step-current-6 .step-6,
.step-container.step-current-7 .step-7,
.step-container.step-current-8 .step-8,
.step-container.step-current-9 .step-9 {
  display: block;
}

.step-nav {
  color: grey;
}

.step-nav-container.step-current-1 .step-nav:nth-last-child(1n+9),
.step-nav-container.step-current-2 .step-nav:nth-last-child(1n+8),
.step-nav-container.step-current-3 .step-nav:nth-last-child(1n+7),
.step-nav-container.step-current-4 .step-nav:nth-last-child(1n+6),
.step-nav-container.step-current-5 .step-nav:nth-last-child(1n+5),
.step-nav-container.step-current-6 .step-nav:nth-last-child(1n+4),
.step-nav-container.step-current-7 .step-nav:nth-last-child(1n+3),
.step-nav-container.step-current-8 .step-nav:nth-last-child(1n+2),
.step-nav-container.step-current-9 .step-nav:nth-last-child(1n+1) {
  color: #c9a305;
}

.step-nav .step-nav-header {
  cursor: pointer;
}

.step-nav .step-nav-header .step-nav-number {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: solid 1px;
  border-radius: 30px;
  vertical-align: middle;
}

.step-nav .nav-content {
  border-left: solid 1px #c9a305;
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: -25px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.step-nav:last-child .nav-content {
  border-left: none;
}

.step-nav-container .step-nav ul, .step-nav-container .step-nav ul>li{
  list-style: none;
  list-style-type: none;
}

.notice-img {
  border: solid 1px;
}

/* name-zh */
.form-inline .form-control.name-telecode {
  width: 5em;
}
#name-zh {
  letter-spacing: 0.5em;
  width: 12em;
}

/* canvas*/
#canvas-container {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  height: 60vh;
}
canvas {
  border: solid 2px #aaa;
}
#reo1-canvas {
  display: inline-block;
  width: 100%;
  max-width: 100vw;
}
#reo2-canvas {
  display: inline-block;
  width: 100%;
  max-width: 100vw;
}
#reo41-canvas {
  display: inline-block;
  width: 100%;
  max-width: 100vw;
}
#reo43-canvas {
  display: inline-block;
  width: 100%;
  max-width: 100vw;
}
#sign-area {
  cursor: url('cursor.png') 8 8, crosshair;
}

.reo-download-btn-container {
  margin-bottom: 10px;
}

/* footer */
footer {
  margin-top:5em;
  border-top: #aaa solid 2px;
}
