/* body */
body{
  padding-top: 100px;
  color: #8e8e8e;
}

h1, h2 {
  color: #7a888b;
}

/* navbar */
a {
  color: #c9a305;
}

a:hover {
  color: #c9a305;
}

.dropdown ul {
  background-color: #a3bbc2 !important;
}

.dropdown ul li a {
  line-height: normal;
}

.dropdown ul li a:hover {
  background-color: #79888c !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #00356b !important;
  border-color: #043054 !important;
}

.btn-primary:hover {
  background-color: #043054 !important;
  border-color: #00356b !important;
}

.text-primary {
  color: #c9a305;
}

/* navbar */
nav.navbar-default {
  height: 80px;
  background-color: #a3bbc2;
  border-bottom: 0;
}
nav.navbar-default .navbar-brand {
  margin-left: 10px;
  height: auto;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color: #79888c;
}

nav.navbar-default .navbar-brand * {
  display: inline-block;
}

nav.navbar-default .navbar-brand>.navbar-brand-text {
  margin-left: 10px;
}

nav.navbar-default .navbar-collapse {
  background-color: #a3bbc2;
  border: none;
}

nav.navbar-default .navbar-collapse .navbar-nav > li {
  height: 80px;
  line-height: 80px;
}

nav.navbar-default .navbar-collapse .navbar-nav > li > a {
  height: 80px;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
}

nav.navbar-default .navbar-collapse .navbar-nav > li > a:hover,
nav.navbar-default .navbar-collapse .navbar-nav > li > a:focus {
  background-color: #79888c;
}

@media (max-width: 768px) {
  .navbar-brand-text {
    display: none;
  }
}
